dtd/albums.dtd

<!DOCTYPE discography [

<!ATTLIST album id ID>
<!ATTLIST album explicit CDATA>

<!ELEMENT album
(poster,info,tracklist)>

<!ELEMENT poster EMPTY>

<!ELEMENT info
(poster,title,price,year)>

<!ELEMENT title (#PCDATA)>
<!ELEMENT price (#PCDATA)>
<!ELEMENT year (#PCDATA)>

<!ELEMENT tracklist
(track)>

<!ELEMENT track
(number,title,length)>

<!ELEMENT title (#PCDATA)>
<!ELEMENT price (#PCDATA)>
<!ELEMENT year (#PCDATA)>

]>